{% extends "base.html" %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-2 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <ul class="navbar-nav me-3">
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav" style="">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">ページ</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">得点の記録</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">得点の記録を追加</h6>
            </nav>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="card shadow-lg">
            <div class="card-header pt-4 pb-3">
                <h3 class="font-weight-bold mt-2">「{{ schedule[1] }}」の記録を追加</h3>
            </div>
            <div class="card-body">
                <form action="/record_scores/add/{{ schedule[0] }}" method="POST">
                    <div class="row">
                        {% if schedule[2]|int == 1 %}
                            {% for i in range(schedule[3]["RaceNumber"]|int) %}
                                {% if schedule[3]["RaceNumber"]|int > 1 %}
                                        <h5>{{ i + 1 }}レース目</h5>
                                {% endif %}
                                <div class="row row-cols-lg-4 w-70">
                                    {% for team in teams %}
                                        <div class="col">
                                            <div class="input-group input-group-static mb-4 mx-3">
                                                <label>{{ team[1] }}</label>
                                                <input type="number" class="form-control" name="Team{{ team[0] }}-{{ i + 1 }}" required>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% elif schedule[2]|int == 2 %}
                            {% for i in range(schedule[3]["RaceNumber"]|int) %}
                                {% if schedule[3]["RaceNumber"]|int > 1 %}
                                    <h5>{{ i + 1 }}レース目</h5>
                                {% endif %}
                                <p>男子</p>
                                <div class="row row-cols-lg-4 w-70">
                                    {% for team in teams %}
                                        <div class="col">
                                            <div class="input-group input-group-static mb-4 mx-3">
                                                <label>{{ team[1] }}</label>
                                                <input type="number" class="form-control" name="Team{{ team[0] }}-{{ i + 1 }}-Male" required>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <p>女子</p>
                                <div class="row row-cols-lg-4 w-70">
                                    {% for team in teams %}
                                        <div class="col">
                                            <div class="input-group input-group-static mb-4 mx-3">
                                                <label>{{ team[1] }}</label>
                                                <input type="number" class="form-control" name="Team{{ team[0] }}-{{ i + 1 }}-Female" required>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row d-flex justify-content-start">
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-outline-secondary btn-lg ms-3" onclick="location.href='/record_scores'">キャンセル</button>
                                <button type="submit" class="btn btn-outline-success btn-lg ms-3">保存する</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer pt-5">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            ,
                            ruis. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
{% endblock %}